[submodule "frontend"]
	path = frontend
	url = https://github.com/2023-Winter-Bootcamp-Team-J/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/2023-Winter-Bootcamp-Team-J/backend.git
