.idea
#backend
.env

mysettings.py

nextpage-db

*.log

/logging/django.log

backend/.erlang.cookie

# pycharm
.idea

# cpython
__pycache__/
*.pyc

# rabbiqmq
backend/mnesia/*

data/prometheus/volume/*
data/grafana/volume/*
data/grafana/grafana.db

#frontend
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
